{% extends "header.html" %}
{% block body %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
         inlineMath: [ ['$','$'], ['\\(','\\)'] ]
  }
});
</script>
<div>
<h1> 2012 AIME I #6 </h1>
<p>The complex numbers $z$ and $w$ satisfy $z^{13} = w, w^{11} = z, $ and the imaginary part of $z$ is $\sin({\frac{m\pi}{n}})$ for relatively prime positive integers $m$ and $n$ with $m< n$. Find $n$. </p>
<p>$(z^{13})^{11} = z^{143} = z$ </p>
<p>0 is a possible solution but doesn't fit criteria of problem because $m < n$ and $m$ and $n$ must be positive. </p>
<p>$(z^{142} = 1)$ (Roots of unity) </p>
<p>For $z^{t} =1$, $z= \cos(\frac{2\pi k}{t}) + i\sin(\frac{2\pi k}{t})$ </p>
<p>This is derived from deMoivre's theorem $\rightarrow (cos\alpha + i\sin\alpha)^{t} =  (cos(t \alpha) + i\sin(t \alpha))$ </p>
<p>$z= \cos(\frac{2\pi k}{142}) + i\sin(\frac{2\pi k}{142}) \rightarrow  \cos(\frac{\pi k}{71}) + i\sin(\frac{\pi k}{71}) \rightarrow \boxed{n =71}$ </p>
</div>
{% endblock %}