{% extends "header.html" %}
{% block body %}
<div>
<h4> Random : {{ range(1, 100000) | random }} </h4>
<p> Location: <span id="weather"></span> , Temperature: <span id="temp"></span>,  Wind Speed: <span id= "wind"></span></p>
 <form action = "/dashboard/" class= "form-inline" method= "post">
  <input type= "username" class= "form-control" placeholder="username" name="username" value="{{request.form.username}}">
  <input type= "password" class= "form-control" placeholder="password" name="password" value="{{request.form.password}}">
  <input class= "btn btn-default" type = "submit" value= "Submit">
  {{error}}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#nn" aria-controls="basics" role="tab" data-toggle="tab">Neural Nets</a></li>
    <li role="presentation"><a href="#cs70" aria-controls="cs70" role="tab" data-toggle="tab">CS70</a></li>
    <li role="presentation"><a href="#math" aria-controls="math" role="tab" data-toggle="tab">Random Math</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Interesting</a></li>
  </ul>
  <!-- Tab panes -->
 <div class="tab-content">
   <div role="tabpanel" class="tab-pane fade in active" id="nn"> 
   <ul>
  {% for a in TOPIC_DICT["Neural_Nets"] %}
  <li> <a href = "{{a[1]}}"> {{a[0]}}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="cs70"> 
  <ul>
  {% for t in TOPIC_DICT["Basics"] %}
  <li> <a href = "{{t[1]}}"> {{t[0]}}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="math">  <ul>
  {% for m in TOPIC_DICT["Random_Math"] %}
  <li> <a href = "{{m[1]}}"> {{m[0]}}</a></li>
  {% endfor %}
  </ul></div>
  <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
</div>
<script>

var weather = new XMLHttpRequest();
weather.open("GET", "http://api.wunderground.com/api/d1843e1036bf0461/conditions/q/CA/Berkeley.json", false);
weather.send(null);
var r = JSON.parse(weather.response);
var dis= r.current_observation.display_location.full;
var temp = r.current_observation.temperature_string ;
var wind = r.current_observation.wind_string;
document.getElementById("weather").innerHTML = dis;
document.getElementById("temp").innerHTML = temp;
document.getElementById("wind").innerHTML = wind;

</script>
<script src= "//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
{% endblock %}