{% extends "header.html" %}
{% block body %}
<div>
<h4> Random # Thing: {{ range(1, 100000) | random }} (Introduced to by Josh) </h4>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#cs70" aria-controls="basics" role="tab" data-toggle="tab">CS70</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
 <div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="cs70"> 
  <ul>
  {% for t in TOPIC_DICT["Basics"] %}
  <li> <a href = "{{t[1]}}"> {{t[0]}}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile"> <ul><li> Hey </li></ul></div>
  <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
  <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
</div>

</div>
 <div class="container">
  <div class="row">
  <svg viewBox="0 0 960 300">
    <symbol id="s-text">
    <text text-anchor="middle" x="50%" y="80%">Stupid Samyak Stuff</text>
  </symbol>

  <g class = "g-ants">
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
    <use xlink:href="#s-text" class="text-copy"></use>
  </g>
</svg>
  </div>
    
    <div class="row">
        </div>
    </div>
    <div id = weird>
    <div class="home">
<!-- <header id="header"> -->
<div id='cubeContainer'>
<div class='cube'>
<div class='half1'>
<div class='side s1'></div>
<div class='side s2'></div>
<div class='side s5'></div>
</div>
<div class='half2'>
<div class='side s3'></div>
<div class='side s4'></div>
<div class='side s6'></div>
</div>
</div>
</div>
<!-- </header>
 --></div>
<!-- <div class = "container" align ="center" style = "height:80%"> -->
<a href = "/dashboard/">
<video width="500" height="400" autoplay="autoplay" muted = "muted" controls loop>
<source src= "/static/videos/graph.mp4" type = "video/mp4">
</video>
</a>
<div class="span8">
<h2> Form </h2>
<form action="/action_page.php">
First name: <input type="text" color= "blcaname="FirstName" value=""><br>
Last name: <input type="text" name="LastName" value=""><br>
<input type="submit" value="Submit">
</form>
<hr>
<h2> <a href="https://devpost.com/software/albumify"> Albumify </a> </h2>
<div id = "imagelist">
 <img src= "/static/images/original.png" width="150" height="150">
 <img src = "/static/images/Hail_to_the_thief.png" width ="150" height = "150">
 <img src = "/static/images/style_transfer.png" width="150" height= "150">
 </div>
  <hr>
<h2> Deploying Flask with Heroku </h2>
<p> Go to Python directory, cd into scripts and pip install vituralenv </p> 
<p> cd into directory you want to create project </p>
<p> to create virtualenv type virtualenv *name* </p>
<p> to activate virtualenv source *name*/bin/activate </p>
<p> pip install flask </p>
<p> pip install gunicorn - better webserver </p>
<p> create Procfile  - web: gunicorn *name of python file*:app </p>
<p> heroku create </p>
<p> git init, git add ., git commit, git push heroku master </p
><p> pip freeze > requirements.txt </p>
<hr>
</div>
<script src= "//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename= 'js/bootstrap.min.js')}}"></script>
{% endblock %}