    {% extends "header.html" %}
{% block body %}
<style>
.text {
    text-align: center
}

</style>
<div class = "text">
    <section id="Flask">
    <br>
    <br>
     <h2> Deploying Flask with Heroku </h2>
                   <p> This is generally done in a virtual environment </p>
<p> cd into Python directory, cd into scripts and pip install vituralenv </p> 
<p> cd into directory you want to create project </p>
<p> to create virtualenv: </p>
<pre><code>$ virtualenv *name* // generally env
</code></pre></p>
<p> to activate virtualenv source: </p>
<pre><code>$ source env/bin/activate
</code></pre>
<p> pip install flask </p>
<p> pip install gunicorn, which is A WSGI HTTP server that can handle requests faster than native Python </p>
<p> create Procfile  - web: gunicorn *name of python file*:app </p>
<pre><code>$ heroku create
</code></pre><pre><code>$ git init
</code></pre>
<pre><code>$ git add .
</code></pre>
<pre><code>$ git commit -m "commit"
</code></pre> 
<pre><code>$ git push heroku master 
</code></pre> 
<pre><code>$ pip freeze > requirements.txt
</code></pre> 
</section>
<hr>
    <section id="GAP">
     <br>
    <br>
<h2> Deploying python webapp to google app engine </h2>
<p> Console -> New project </p>
<p> Go to google cloud shell an  launch code editor </p>
<p> 3 files: </p>
<p> app.yaml -> configuration </p>
<p> requirements.txt </p>
<p> Main.py </p>
<p> go back to console glcoud app deploy </p>
</section>
<hr>
    <section id="Bitcoin">
     <br>
    <br>
<h2> Bitcoin </h2>
<p> Not owned by anyone </p>
<p> blockchain - every transaction </p>
<p> Miners check validity of transaction </p>
<p> completely decentralized </p>
<p> Proof of work- miners must do computation to verify transaction </p>
<p> deflationary currency - hard limit to amount of currency made </p>
</section>
<hr>
<section id="Value_Investing">
 <br>
    <br>
<h2> Value Investing </h2>
<p> "Rule No. 1: Never lose money. Rule No. 2: Never forget rule No.1" ~ Warren Buffet</p>
<p> How do you not lose money? </p>
<p> Invest in mostly safe stocks (80%) that have the most value for the least price </p>
<p> Value is considered as Net Earnings(Retained Earnings) + Dividends (Cash Distribution by Company to shareholders) </p>
<p> (Start-ups and other high-growth companies especially in the technology or biotechnology sectors rarely offer dividends because all of their profits are reinvested to help sustain higher-than-average growth and expansion) </p>
<p> Price of a stock is equal to the Book ratio which is the Share price/ Book value per share) </p>
<p> Book value per share = (assets - liabilities of a company) /total shares  ( Gives as quantity for every share, company has X amount of assets)</p>
<p> If ratio comes out to >10, You should buy </p>
<p> Want Companies that have high ROCE (Return on capital employed) and low debt ( Debt/equity ratio - calculated by dividing a company’s total liabilities by its stockholders' equity. </p>
<p> The D/E ratio indicates how much debt a company is using to finance its assets relative to the amount of value represented in shareholders’ equity.) </p>
<p> Common safe stocks : Coca - Cola, Banks, ETFs (Tech is very risky)</p>
</section>
<hr>
<section id="Web_Scraping">
<h2> Web Scraping w/ Python</h2>
<p> Imports: beautifulsoup, urllib, re, json </p>
<pre><code>file = urllib.request.urlopen(url)
</code></pre>
<pre><code> text = file.read()
</code></pre>
<pre><code> soup = bs.BeautifulSoup(text, "html.parser")
</code></pre>
<p> soup.find_all('b') //all 'b' tags </p>
<p> soup.find_all(re.compile("^b")) //all tags that start with 'b' </p>
<p> print soup.find_all(["a", "b"]) //all a and b tags </p>
<p> soup.body.b  First b tag beneath body</p>
<p> A tag’s children are available in a list called .contents: </p>
<p> Look at Network tab for requests - Response time is less than downloading all of webpage </p>
<p> Filter by XHR (XMLHttpRequest) - API for XML transfer </p>
<p> For example - Found this : https://www.bloomberg.com/markets/api/bulk-time-series/price/AAPL%3AUS?timeFrame=1_YEAR </p>
<hr>
</section>
<section id="git">
<h2> Git </h2>
<p> Apple git is generally behind so it's best to install normal git</p>
<p> blobs </p>
<p> Files (blobs) are tracked based on their content, git uses SHAT algorithm to hash each file </p>
<p> All versions of a file end up as blobs (saved in the .git directory ) </p>
<p> Trees </p>
<p> Trees organize and name sets of files </p>
<p> Git keeps track of what your project looked like at a given time (tree + commit) </p>
<p> Git keeps a history of the various snapshots as a linked list (commit -> parent</p>
<p> Most other systems store information as a list of file-based changes. They think of the information they keep as a set of files and the changes made to each file over time. </p>
<p> Git doesn’t think of or store its data this way. Instead, Git thinks of its data more like a set of snapshots of a miniature filesystem. Every time you commit, or save the state of your project in Git, it basically takes a picture of what all your files look like at that moment and stores a reference to that snapshot. To be efficient, if files have not changed, Git doesn’t store the file again, just a link to the previous identical file it has already stored. Git thinks about its data more like a stream of snapshots. </p>
<p> Git has three main states that your files can reside in: committed, modified, and staged. Committed means that the data is safely stored in your local database. Modified means that you have changed the file but have not committed it to your database yet. Staged means that you have marked a modified file in its current version to go into your next commit snapshot. </p>
<p> <pre><code> git config --global core.editor emacs  </code> </pre> </p>
<p> Workflow: </p>
<p> First, clone repository: </p>
<p> <pre><code> git clone https://github.com/samp830/repo_name.git specific_name //(when you want to change the folder git clones into)</code> </pre></p>
<p> <pre><code> git status </code> </pre> Shows you what's different from your local machine and server </p>
<p> <pre><code> git status -s </code> </pre> Simplified output </p>
<p> New files that aren’t tracked have a ?? next to them, new files that have been added to the staging area have an A, modified files have an M and so on. There are two columns to the output - the left-hand column indicates the status of the staging area and the right-hand column indicates the status of the working tree </p>
<
<p> <pre><code> git add index.html (. for everything) </code> </pre> </p>
<p> <pre><code> git commit -m "message" </code> </pre> </p>
<p> <pre><code> git push  </code> </pre> </p>
<p> <pre><code> git pull  </code> </pre> </p>
<p> Branches: </p>
<p> 
- Run "git branch your-feature-name" to make a git branch
- Code in your changes, add and commit the files
- Pull the master branch again and merge it with your new branch
- Push the branch up to github and submit it as a pull request
- That pull request can now receive comments and code discussion, as well as accept new commits before being merged in with the master branch </p>
<p> Head: a pointer to the last commit you made </p>
<p> Stage: Files ready to be committed </p>
<p> Working Directory: Files being edited </p>
<p> Git reset: </p>
<p> <pre><code> git reset --soft HEAD ~1 </code> </pre></p>
<p> Mainly for changing commit message, combining commits, reverts head to one state back, puts commit in staging and keeps working directory the same </p>
<p> <pre><code> git reset --mixed HEAD ~1 </code> </pre></p>
<p> Takes latest commit out of staging and commit, but keeps it in working directory </p>
<p> <pre><code> git reset --hard HEAD ~1 </code> </pre></p>
<p> Takes latest commit out of staging, commit, and working directory </p>
<p> Git rebase --interactive </p>
<p> <pre><code> git rebase -i HEAD ~4 </code> </pre></p>

</section>

<h2> C++ </h2>
<p> boost libraries </p>
<p> folly library (Facebook) </p>
<p> GNU scientific library </p>
<h2> Dapps </h2>


</div>
{% endblock %}
